{% extends "base.html" %}
{% block content %}

<h1>Dashboard</h1>
<style>
  h1{
    margin-bottom: 20px;
  }
</style>
<h2>Welcome, {{ current_user.username }}!</h2>
<style>
  h2{
    margin-bottom: 20px;
  }
</style>
<section>
  <h3>Upcoming Events</h3>
  <ul>
    {% for e in events %}
      <li>
        <strong>{{ e.title }}</strong> — {{ e.location }}  
        ({{ e.start_time }} → {{ e.end_time }})
      </li>
    {% else %}
      <li>No events scheduled.</li>
    {% endfor %}
  </ul>
</section>


{% endblock %}